/* Reset button styles */
button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

/* delete button*/
.red-round-button {
  width: 60px; /* Width of the button */
  height: 60px; /* Height of the button */
  border-radius: 50%; /* Perfect circle */
  background-color: #B8001F; /* Button color */
  color: white; /* Icon color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Icon size */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

/* Hover delete button */
.red-round-button:hover {
  background-color: #821131; /* Darker shade when hovered */
  transform: scale(1.1); /* Slightly enlarge the button */
}

